body {
    display: grid;
    grid-template-areas:
        "header"
        "headline"
        "news"
        "reviews"
        "guides"
        "products"
        "footer";
    grid-template-rows: auto;
    margin: 0;
    font-family: Arial, sans-serif;
}
 
.header {
    grid-area: header;
    background-color: #2980b9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
 
.header .logo {
    font-size: 1.5rem;
}
 
.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
 
.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: grey;
  }
.headline {
    grid-area: headline;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 2rem;
    height: 430px;
}
 
.news, .reviews, .guides, .products, .footer {
    padding: 2rem;
    text-align: center;
}
 
.news {
    grid-area: news;
    background-color: #ffffff;
}
.news .service-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
 
.news .service-tile {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews {
    grid-area: reviews;
    background-color: #ffffff;
}
 
.reviews .service-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
 
.reviews .service-tile {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.guides {
    grid-area: guides;
    background-color: #ffffff;
}

.guides .service-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
 
.guides .service-tile {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.products {
    grid-area: products;
    background-color: #ffffff;
}
.products .service-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
 
.products .service-tile {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.footer {
    grid-area: footer;
    background-color: #2980b9;
    color: white;
}



.flexLåda {
    display: flex;
    flex-direction: column-reverse;
    flex-flow: row wrap;
    background-color: white;
    height: 20em;
    justify-content: center;
    gap: 10px;
}
  
  .flexElement {
    border: 1px solid #2980b9;
    margin: 4px;
    width: 10em;
    background-color: white;
    border-radius: 8px;
  }